.submitbutton {
    width: 100%;
    border-radius: 6px;
    border: 1px solid;
    border-color:#a78bfa;
    padding-top: 4%;
    padding-bottom: 4%;
    transition: width 0.2s, height 0.2s;
    font-size: 95%;
    cursor:pointer;
}

.TextInput {
    width: 100%;
    background-color:#111827;
    border-radius: 6px;
    font-size: large;
    border: 1px solid;
    border-color:#2f3948;
    padding-top: 3.5%;
    padding-bottom: 3.5%; 
    color:white;
    outline: none;
}

.TextInput2 {
    width: 100%;
    background-color:#111827;
    border-radius: 4px;
    font-size: large;
    border: 2px solid;
    border-color:#4a5664;
    padding-top: 3.5%;
    padding-bottom: 3.5%; 
    color:white;
    outline: none;
}

.bold {
    font-weight: bold;
}

.textbetweenline {
    width:100%; 
    border-bottom: 1px solid #2f3948; 
    line-height:0.1em; 
    margin:10px 0 20px;
    text-align: center; 
}

.divbutton {
    padding-top: 3.5%;
    padding-bottom: 6%;
}

p span { 
    background:#111827; 
    padding:0 10px; 
}

table {
    width: 70%;
    margin-left: 15%;
}

.socialimg {
    width: 23px;
    height: 23px;
}

.form1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: #111827;
    color: #79818c;
    padding-top: 1%;
    padding-bottom: 2.5%;
    border-radius: 10px;
    font-family: sans-serif;
}

.form2 {
    width:80%;
    margin:auto;
}

.form3 {
    width:90%;
    margin:auto;
}

.colorwhite {
    color:white;
}

.colorgrey {
    color:#c2c2c2;
}

.textaligncenter {
    text-align: center;
}

label {
    line-height: 2;
    font-size: 98%;
}

.forgotpassword {
    display:block;
    text-align:right;
    line-height: 2;
    font-size: 98%;
}

.btn-dark {
    background-color: #111827;
    color:#a78bfa;
    border-radius: 9px;
    border: 2px solid;
}

.btn-violet{
    background-color: #a78bfa;
    color:#111827;
}

.smalltext{
    font-size: 90%;
}

.nounderline{
    text-decoration: none;
}

.colorpurple {
    color: #a78bfa;
}

.margin1{
    margin: 1%;
}

.fontweight500 {
    font-weight: 500;
}

.textalignleft {
    text-align: left;
}

.h2 {
    font-size: 24px;
}

.displayblock {
    display: block;
}

.socialtable{
    display: flex;
    justify-content: center;
    gap: 15%;
}

.lineheight2 {
    line-height: 2;
}

.lineheight3 {
    line-height: 3;
}